* {
    box-sizing: border-box;
}

h1{
    background-color: linear-gradient(azure,cadetblue,azure);
    border: 5%;
    /* text-align: center; */
}

.nav {
    display: flex;
    border: 5% solid lightblue;
    border-radius: 5%;
    margin: auto;
    /* align-content: center; */
}

.list {
    color: #115
}