
.init {
    background: #212529;
    color: #dedad6;
    font-size: 1em;
}

a {
    text-decoration: none;
}
a:link {
    color: azure;
}
a:visited {
    color:darkcyan;
}
a:hover {
    color: cadetblue;
}

.nav {
    display: flex;
    color: azure;
    margin: 20px auto;
    max-width: 1080px;
    max-height: 5%;
    width: 80%;
    justify-content: space-evenly;
    flex-grow: 1;
}

h1 {
    display: block;
    text-align: center;
    background: linear-gradient(cadetblue,azure,cadetblue);
    color: #212529;
    padding: 1%;
    margin: 2% -5% 4%;
    font-size: 2em;
}

.text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 2%;
}

.text h2 {
    margin: 5%;
    text-align: center;
}

.text p {
    margin: 2% 0;
    padding: 0 2%;
}


@media only screen and (max-width: 480px){
    .nav{
        max-width: 460px;
        max-height: 10%;
        width: 98%;
    }
    .article-body {
        margin: 2% 2%;
    }
}

@media only screen and (max-width: 760px){
    .nav{
        max-width: 730px;
        max-height: 8%;
        width: 90%;
    }
}

@media only screen and (max-width: 920px){
    .nav{
        max-width: 880px;
        max-height: 6%;
        width: 84%;
    }
}